<h1 class="header-title" id="title">{{title}}</h1>
<h2 class="header-recommend">Check Out Amiibo from these popular franchises</h2>
<h3 class="home-link"><a href="/" class="btn btn-red">Home</a></h3>
<nav class="header-nav">
  <li class="header-nav-link pokemon"><a href="/showcase/Pokemon"><span class="pkmn-color">Pokemon Amiibo</span></a>
  </li>
  <li class="header-nav-link zelda"><a href="/showcase/The Legend of Zelda"><span class="zelda-color">Legend
        of Zelda</span></a></li>
  <li class="header-nav-link mario"><a href="/showcase/Super Mario"><span class="mario-color"></span> Super Mario
      Bros.</a>
  </li>
  <li class="header-nav-link fire"><a href="/showcase/Fire Emblem"><span class="fire-color">Fire Emblem</span></a>
  </li>
</nav>