html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 900px) {
  html {
    font-size: 55%;
  }
}

body {
  font-family: snes;
  letter-spacing: 1rem;
  font-weight: 700;
}

@font-face {
  font-family: snes;
  src: url("fonts/snes_italic-webfont.woff2");
  src: url("fonts/snes_italic-webfont.woff");
}

@font-face {
  font-family: "mario-font";
  src: url("fonts/supermario256-webfont.woff");
  src: url("fonts/supermario256-webfont.woff2");
}

@font-face {
  font-family: "zelda-font";
  src: url("fonts/zelda.woff");
  src: url("fonts/zelda.woff2");
}

@font-face {
  font-family: "pokemon-font";
  src: url("fonts/pkmn.woff");
  src: url("fonts/pkmn.woff2");
}

@font-face {
  font-family: "fire-emblem-font";
  src: url("fonts/fire.woff");
}

.fire {
  font-family: "fire-emblem-font";
  font-size: 3rem;
}

.pokemon {
  font-family: "pokemon-font";
  letter-spacing: 0.6rem;
  color: #faed26;
}

.pokemon .pkmn-color {
  color: #faed26;
}

.mario {
  font-family: "mario-font";
  letter-spacing: 0.4rem;
}

.mario-color-blue {
  color: #029ede;
}

.mario-color-red {
  color: #e8270e;
}

.mario-color-yellow {
  color: #ffd003;
}

.mario-color-green {
  color: #44b03a;
}

.zelda {
  font-family: "zelda-font";
  letter-spacing: 0.5rem;
}

body {
  background-color: #000000;
  min-height: 100vh;
  color: #ffffff;
}

header {
  margin: 5rem auto;
  text-align: center;
  font-size: 2rem;
  list-style: none;
  text-decoration: none;
  border-bottom: 2px solid black;
  text-transform: uppercase;
}

.home-link,
:visited,
:link {
  margin: 1rem auto;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.header-title {
  font-size: 8rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
  margin: 1rem auto;
}

.header-nav .header-nav-link,
.header-nav :visited,
.header-nav :link {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-nav .header-nav-link:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(255, 0, 0, 0.4);
          box-shadow: 0 0.5rem 1rem rgba(255, 0, 0, 0.4);
}

@media screen and (max-width: 900px) {
  .header-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 30vh;
  }
}

.header-nav-link:hover .header-nav-link:not(:hover) {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 0.3;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.search .search-title {
  font-size: 4rem;
}

.search .amiibo-form {
  text-align: center;
}

.search #amiibo-name {
  text-align: center;
  height: 6rem;
  width: 30rem;
}

.display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.3rem;
  width: 70vw;
  letter-spacing: 1.2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.display .display-amiibo {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  width: 10vw;
  list-style: none;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.display .display-amiibo:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(255, 0, 0, 0.4);
          box-shadow: 0 0.5rem 1rem rgba(255, 0, 0, 0.4);
}

.display .display-name,
.display .display-series,
.display .display-image {
  padding: 1rem;
}

.display .display-image {
  height: 15vh;
}

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  margin: 1rem;
  font-size: 2.3rem;
  border-radius: 10rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  -webkit-animation: moveInBottom 0.5s ease-out 0.75s;
          animation: moveInBottom 0.5s ease-out 0.75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  font-family: snes;
  letter-spacing: 1rem;
}

.btn:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #e60012;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-white:after {
  background-color: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.4);
          box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.4);
}

.btn-white:hover {
  background-color: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.4);
          box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.4);
}

.btn:hover::after {
  -webkit-transform: scaleX(1.5) scaleY(1.6);
          transform: scaleX(1.5) scaleY(1.6);
  opacity: 0;
}

.btn-red {
  background-color: #e60012;
}

.btn-red:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(255, 0, 0, 0.4);
          box-shadow: 0 0.5rem 1rem rgba(255, 0, 0, 0.4);
}

.btn-red:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(255, 0, 0, 0.4);
          box-shadow: 0 0.5rem 1rem rgba(255, 0, 0, 0.4);
}
/*# sourceMappingURL=style.css.map */